<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsxshop.rsx.sod.base.dao.mapper.BaseBrandDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rsxshop.rsx.sod.base.dao.model.BaseBrand">
        <id column="id" property="id" />
        <result column="brand_name" property="brandName" />
        <result column="brand_logo" property="brandLogo" />
        <result column="created_time" property="createdTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
